<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Add/View student</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Add New Students</a>
    </nav>
    <div class="container-fluid">
        <div class="row mt-5">
            <h2>Add New Student</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="number" placeholder="Username" name="username">
                    <input type="text" placeholder="Password" name="password">
                    <input type="submit">   
                </form>
                <a href="{% url 'prof:view_students' %}" class="btn btn-primary">View All students</a><br>
        <a href="{% url 'prof:index' %}" class="btn btn-danger">Go to the homepage</a>
        </div>
        
    </div>
   
</body>
</html>