<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/View Groups</title>
</head>

<body>
    <h2>Create Group</h2>
    <form method="POST">
        {% csrf_token %}
        <!-- <input type="text" name="category_name" placeholder="Category Name"> -->
        {{ groupForm }}
        <input type="submit" value="Add">
    </form>

    <h2>Groups:</h2>
    <ol>
        {% for category in special_students_db %}
        <li>
            <h3>{{ category.category_name }}</h3>
            <a href="{% url 'prof:view_specific_group' prof.username category.id %}">View group</a>
        </li>
        {% empty %}
        <h3>No groups created</h3>
        {% endfor %}
    </ol>

    <a href="{% url 'prof:index' prof.username %}">Go to home</a>
</body>

</html>