<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add/View Groups</title>
</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Groups</a>
    </nav>
    <div class="container-fluid">
        <div align='center' id="create_group">
            <h2 >Create Group</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="category_name" placeholder="Category Name">
                <input type="submit" value="Create">
            </form>
        </div>

        <div id="groups">
            <h2>Groups:</h2>
            <ol>
                {% for category in special_students_db %}
                <li>
                    <h3>{{ category.category_name }}</h3>
                    <a href="{% url 'prof:view_specific_group' prof.username category.id %}">View group</a>
                </li>
                {% empty %}
                <h2>No groups created</h2>
                {% endfor %}
            </ol>
        </div>
        <a href="{% url 'prof:index' prof.username %}" class="btn btn-danger">Go to home</a>
    </div>

</body>

</html>