{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Question</title>
</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Edit Question</a>
    </nav>
    <div class="container-fluid">
        <!-- <h2>Edit Question</h2> -->
        <div class="container d-flex h-100 row justify-content-center col-20">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info" type="submit" value="Update">
            </form>
        </div>

    </div>
    <a class="btn btn-danger" href="{% url 'prof:view_all_ques' prof.username %}">Go Back</a>
</body>

</html>