<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Edit Question</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Edit Question</a>
    </nav>
    <div class="container-fluid">
        <h2 align='center'>Edit Question</h2>
        <div class="row mt-5">

            <form method="POST">
                {% csrf_token %}
                <input type="text" value="{{i.question}}" name="question"><br>
                <input type="text" value="{{i.optionA}}" name="optiona"><br>
                <input type="text" value="{{i.optionB}}" name="optionb"><br>
                <input type="text" value="{{i.optionC}}" name="optionc"><br>
                <input type="text" value="{{i.optionD}}" name="optiond"><br>
                <input type="text" value="{{i.answer}}" name="answer"><br>
                <input type="hidden" value="{{i.qno}}" name="number">
                <input type="submit">   
            </form>
            <a href="{% url 'prof:view_all_ques' %}" class="btn btn-danger">Go Back</a>
        </div>
    </div>
    

</body>
</html>