<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>View Paper</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Edit Question Paper</a>
    </nav>
    <div class="container-fluid">
        <h3 align="center"> {{ qpaper.qPaperTitle}} </h3>
        <div class="row mt-5">
            <ol type="1">
                {% for i in ques_left %}
                    <li>
                        {{i.question}} 
                    <form method = "POST">
                    {% csrf_token %}
                    <input type="hidden" name="qnumber" value="{{ i.qno }}">
                    <input type="hidden" name="titlepaper" value="{{ qpaper.qPaperTitle }}">
                    <input type="submit" value = "ADD" >
                    </form>
                    </li>
                    <br>
                {% endfor %}
            </ol>
            <ol>
                {% for ques in question_list %}
                    <li>{{ ques.question }}
                        <ul>A. {{ques.optionA}}</ul>
                        <ul>B. {{ques.optionB}}</ul>
                        <ul>C. {{ques.optionC}}</ul>
                        <ul>D. {{ques.optionD}}</ul>
                    </li>
                    <form method = "POST">
                    {% csrf_token %}
                        <input type="submit" value="Remove" name="remove">
                        <input type="hidden" value="{{qpaper.qPaperTitle}}" name="paper">
                        <input type="hidden" value="{{ques.qno}}" name="question">
                    </form>
                {% endfor %}
                <a href="{% url 'prof:make_paper' %}" class="btn btn-success">Go Back</a>
            </ol>
        </div>
    </div>

    
    
</body>
</html>