<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Edit</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Edit Exam</a>
    </nav>
    <div class="container-fluid">
        <div class="row mt-5">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update">
            </form>
            <a href="{% url 'prof:delete_exam' exam.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>

    
</body>
</html>