<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Default website</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Welcome Professor</a>
    </nav>
    <div class="container-fluid">
        <div align='center'>
            <br><br><br>
            <a href="{% url 'prof:add_student' %}" class="btn btn-primary" text-align='center'>Student</a><br><br><br>
            
            <a href="{% url 'prof:view_exams' %}" class="btn btn-primary" text-align='center'>View Exams</a><br><br><br>
            <a href="{% url 'prof:add_question' %}" class="btn btn-primary" text-align='center'>Add Question</a><br><br><br>
            <a href="{% url 'prof:make_paper' %}" class="btn btn-primary" text-align='center'>Make Question Paper</a><br><br><br>
            {% if special_students_db %}
                <a href="{% url 'prof:view_groups' %}" class="btn btn-primary" text-align='center'>Create/View student groups</a><br><br><br>
            {% endif %}
        </div>
    </div>
   
</body>
</html>