<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Question Papers</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Group: {{ group.category_name}}</a>
    </nav>
    <div class="container-fluid">
        <h1 align='center'>Group: {{ group.category_name }}</h1>
        <div class="row mt-5">
            <div>
                <h2>All Question Papers available</h2>
                <ol>
                    {% for q_paper in all_qpapers %}
                        <li>{{q_paper}}</li>
                        <a href="{% url 'prof:view_specific_paper' q_paper.id %}">View paper</a>
                        {% empty %}
                            <h5>No question papers available</h5>
                    {% endfor %}
                </ol>
            </div>
        
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <h3>Enter title of question paper to be added</h3>
                    <input type="text" placeholder="Question Paper title" name="qpaper_title">
                    <input type="submit">
                </form>
            </div>
        
            <div>
                <ol>
                    {% for qpaper_in_group in qpapers_in_group %}
                        <li>{{qpaper_in_group}}</li>
                        {% empty %}
                            <h5>No question papers added</h5>
                    {% endfor %}
                </ol>
            </div>
            
            <a href="{% url 'prof:view_specific_group' group.id %}" class="btn btn-danger">Go back to this group</a>
        </div>
    </div>
    
  
</body>
</html>