<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Group</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Group: {{ group.category_name }}</a>
    </nav>
    <div class="container-fluid">
        <div align='center' id="group_students">
        <h2>Students in group</h2>
        <ul>
            {% for s in group_students %}
                <li>{{ s.username }}</li>
                {% empty %}
                    <h3>No students added in group</h3>
            {% endfor %}
        </ul>
    </div>
    </div>
    
    <a class="btn btn-primary mx-3 my-3" href="{% url 'prof:edit_group' prof.username group.id %}">Edit group</a><br>
    <a class="btn btn-primary mx-3 my-3" href="{% url 'prof:view_groups' prof.username %}">Go back to Groups</a>
</body>
</html>