<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>{{ exam.name }}</h1>
    <div>
        total_marks: {{exam.total_marks}}<br>
        duration: {{exam.duration}}<br>
        question_paper: {{exam.question_paper}}
        <a href="{% url 'prof:view_specific_paper' prof.username exam.question_paper.id %}">View Paper</a><br>
        student_group: {{exam.student_group}}
        <a href="{% url 'prof:view_specific_group' prof.username exam.student_group.id %}">View group</a>
    </div>
    <a href="{% url 'prof:edit_exam' prof.username exam.id %}">Edit</a>
</body>
</html>