<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Details</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Exam {{ exam.name }}</a>
    </nav>
    <div class="container-fluid">
        <h1 align="center">{{ exam.name }}</h1>
        <div class='row mt-5'>
            <div>
                total_marks: {{exam.total_marks}}<br>
                duration: {{exam.duration}}<br>
                question_paper: {{exam.question_paper}}
                <a href="{% url 'prof:view_specific_paper' exam.question_paper.id %}">View Paper</a><br>
                student_group: {{exam.student_group}}
                <a href="{% url 'prof:view_specific_group' exam.student_group.id %}">View group</a>
            </div>
            <a href="{% url 'prof:edit_exam' exam.id %}" class="btn btn-danger">Edit</a>
        </div>
    </div>
    
   
</body>
</html>