<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>All Questions</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">All Questions</a>
    </nav>
 
    <ol>
        {% for ques in question_db %}
                <ul>Question No. {{ques.qno}} : {{ ques.question }} 
                    <li>A. {{ques.optionA}}</li>
                    <li>B. {{ques.optionB}}</li>
                    <li>C. {{ques.optionC}}</li>
                    <li>D. {{ques.optionD}}</li>
                </ul>
                <ul>Answer : {{ques.answer}} </ul>
                <a href="{% url 'prof:edit_question' prof.username ques.qno %}">Edit</a>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                    <input type="hidden" value="{{ques.qno}}" name="qno">
                </form>    
                {% empty %} 
                <h4>No questions in database</h4>
        {% endfor %}
    </ol>
    <a href="{% url 'prof:add_question' prof.username %}">Add question</a><br>
    <a href="{% url 'prof:index' prof.username %}">Go to default site</a>
</body>
</html>