<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>Students in group</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Exam Portal : Group: {{ group.category_name}}</a>
    </nav>
    <div class="container-fluid">
        <h1 align="center">Group: {{group.category_name}}</h1>
        <div class="row mt-5">
            <div>
                <h2>Add Student to group</h2>
                <form method="POST">
                    {% csrf_token %}
                    <h4>Username</h4>
                    <input type="number" placeholder="Username" name="username">
                    <input type="submit">
                </form>
            </div>
        
            <div>
                <h3>Students:</h3><br>
                    <ul>
                        {% for student in students %}
                            <li>{{student.username}}</li>
                            {% empty %}
                            <h4>No students in the group</h4>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
    
    
    
    <a href="{% url 'prof:view_specific_group' group.id %}">Go back to this group</a>
</body>
</html>