<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Papers</title>
</head>
<body>
    <h1>Group: {{ group.category_name }}</h1>
    <div>
        <h2>All Question Papers available</h2>
        <ol>
            {% for q_paper in all_qpapers %}
                <li>{{q_paper}}</li>
                <a href="{% url 'prof:view_specific_paper' q_paper.id %}">View paper</a>
                {% empty %}
                    <h5>No question papers available</h5>
            {% endfor %}
        </ol>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}
            <h3>Enter title of question paper to be added</h3>
            <input type="text" placeholder="Question Paper title" name="qpaper_title">
            <input type="submit">
        </form>
    </div>

    <div>
        <ol>
            {% for qpaper_in_group in qpapers_in_group %}
                <li>{{qpaper_in_group}}</li>
                {% empty %}
                    <h5>No question papers added</h5>
            {% endfor %}
        </ol>
    </div>
    
    <a href="{% url 'prof:view_specific_group' group.id %}">Go back to this group</a>
</body>
</html>