<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Paper</title>
</head>
<body>
    <h3> {{ qpaper.qPaperTitle}} </h3>
    <ol>
        {% for ques in question_list %}
            <li>{{ ques.question }}
                <ul>A. {{ques.optionA}}</ul>
                <ul>B. {{ques.optionB}}</ul>
                <ul>C. {{ques.optionC}}</ul>
                <ul>D. {{ques.optionD}}</ul>
            </li>
            <form method = "POST">
            {% csrf_token %}
                <input type="submit" value="Remove" name="remove">
                <input type="hidden" value="{{qpaper.qPaperTitle}}" name="paper">
                <input type="hidden" value="{{ques.qno}}" name="question">
            </form>
        {% endfor %}
    </ol>
</body>
</html>