{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Student Groups</title>
</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Groups</a>
        <a href="{% url 'prof:index' prof.username %}" class="btn btn-light">Home</a>
    </nav>
    <div class="container-fluid">
        <h3 class="alert alert-secondary my-1" align="center">Create a new group</h3>
        <div align='center' id="create_group">
            <div class="container d-flex h-100 row justify-content-center col-20">
                <form align='center' method="POST">
                    {% csrf_token %}
                    {{ groupForm|crispy }}
                    <input class="btn btn-success" type="submit" value="Create">
                </form>
            </div>
        </div>
        <div id='groups'>
            <h1 class="alert alert-info my-3" align="center">Groups</h1>
            <!-- <ul> -->
            <form class="form-inline my-2 my-lg-0">
                <input id="searchGroup" class="form-control mr-sm-2" type="search" placeholder="Search Group"
                    aria-label="Search">
                    <a class="btn btn-dark" href="{% url 'prof:view_exams' prof.username %}" target="_blank">View Exams</a>
            </form>
            <div class="row">
                {% for group in special_students_db %}
                <!-- <li> -->
                <div class="card my-3 mx-5 col-sm-3">
                    <h3 class="card-header">{{ group.category_name }}</h3>
                    <div class="card-body">
                        <p class="card-text">
                            <h4 class="card-subtitle mb-2 text-muted">Students</h4>
                            {% for stud in group.students.all %}
                            {{stud.username}}
                            {% endfor %}
                            <br><br>
                            <h4 class="card-subtitle mb-2 text-muted">Exams</h4>
                            {% for exam in group.exam.all %}
                                {{ exam.name }}
                                {% empty %}
                                    No exams associated
                            {% endfor %}
                        </p>
                        <a href="{% url 'prof:edit_group' prof.username group.id %}"
                            class="card-link btn btn-info">Edit</a>
                    </div>
                </div>
                {% empty %}
                <h3>No groups</h3>
                {% endfor %}
            </div>

            <!-- </ul> -->
        </div>
    </div>
    <script src="{% static 'prof/js/groups.js' %}"></script>
</body>

</html>