{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Questions</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Questions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id='searchQuestion' class="form-control mr-sm-2" type="search" placeholder="Search Question"
                    aria-label="Search">
            </form>
            <a class="btn btn-primary mx-2" href="{% url 'prof:add_question' prof.username %}">Add question</a><br>
            <a class="btn btn-light" href="{% url 'prof:index' prof.username %}">Home</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="list-group">
            {% for ques in question_db %}
            <div class="list-group-item list-group-item-action flex-column align-items-start my-2">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">{{ ques.question }}</h3>
                </div>
                <p class="mb-1">
                    A. {{ques.optionA}}<br>
                    B. {{ques.optionB}}<br>
                    C. {{ques.optionC}}<br>
                    D. {{ques.optionD}}<br>
                    <h5>Answer : {{ques.answer}}</h5>
                </p>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ques.qno}}" name="qno">
                    <a class="btn btn-info mx-2" href="{% url 'prof:edit_question' prof.username ques.qno %}">Edit</a>
                    <input class="btn btn-danger" type="submit"
                        onclick="return confirm('Are you sure you want to delete this question?')" value="Delete">
                </form>
            </div>
            {% empty %}
            <h3>No Questions available</h3>
            {% endfor %}
        </div>
    </div>
    <!-- <ol>
        {% for ques in question_db %}
                <ul>Question No. {{ques.qno}} : {{ ques.question }} 
                    <li>A. {{ques.optionA}}</li>
                    <li>B. {{ques.optionB}}</li>
                    <li>C. {{ques.optionC}}</li>
                    <li>D. {{ques.optionD}}</li>
                </ul>
                <ul>Answer : {{ques.answer}} </ul>
                <a href="{% url 'prof:edit_question' prof.username ques.qno %}">Edit</a>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                    <input type="hidden" value="{{ques.qno}}" name="qno">
                </form>    
                {% empty %} 
                <h4>No questions in database</h4>
        {% endfor %}
    </ol> -->
    <script src="{% static 'prof/js/questions.js' %}"></script>
</body>

</html>