<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <h1>{{exam.examname}} Results</h1>
    <h3>Score is {{ exam.score }}</h3>
    <ol>
        {% for ques in quesn %}
        <li>{{ ques.question }}
            <ul>A. {{ques.optionA}}</ul>
            <ul>B. {{ques.optionB}}</ul>
            <ul>C. {{ques.optionC}}</ul>
            <ul>D. {{ques.optionD}}</ul>
        </li><br>

        {% if ques.choice != 'E' %}
        <a>Selected Option was {{ques.choice}}</a><br>
        {% endif %}
        <a>Correct answer was {{ques.answer}}</a><br>
        {% if ques.choice == ques.answer and ques.choice != 'E' %}
        <a>You got this question correct</a><br>
        {% elif ques.choice == 'E' %}
        <a>You did not attempt this question</a><br>
        {% else %}
        <a>You got this question wrong</a><br>
        {% endif %}

        {% endfor %}
    </ol>
    <a href="{% url 'student:results' student.username %}">Go back</a>
</body>

</html>