<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exams</title>
</head>

<body>
    <h1>{{student.username}} Exams</h1>

    <div id="completed_exams">
        <h2>Tests Completed</h2>
        <ol>
            {% for i in paper %}
            {% if  i.completed == 1 %}
            <li>{{ i.examname }}</li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
    <h2>UpComing Exams</h2>
    <div id="upcoming_exams">
        <ol>
            {% for i in paper %}
            {% if  i.completed == 0 %}
            <li>{{ i.examname }}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ i.examname }}" name="paper">
                    <input type="submit" value="View" >
                </form>

            </li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>

    <a href="{% url 'student:index' student.username %}">Go back</a>
</body>

</html>