<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="number" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <input type="submit">   
    </form>
        <ul>
        {% for student in student_db %}
                <li>Username: {{ student.username }}, Password: {{ student.password }}</li>
                {% empty %}
                <h4>No students in database</h4>
        {% endfor %}
    </ul>
</body>
</html>