<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/View Groups</title>
</head>
<body>
    <h2>Create Group</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="category_name" placeholder="Category Name">
        <input type="submit">
    </form>
    {% if special_students_db %}
        <h2>Groups:</h2>
        <ol>
            {% for category in special_students_db %}
                <li>
                    <h3>
                        <a href="{% url 'prof:view_specific_group' category.id %}">{{ category.category_name }}</a>
                    </h3>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    <a href="{% url 'prof:index' %}">Go to home</a>
</body>
</html>