<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default website</title>
</head>
<body>
    <a href="{% url 'prof:add_student' %}">Student</a><br>
    <a href="{% url 'prof:add_question' %}">Add Question</a><br>
    <a href="{% url 'prof:make_paper' %}">Make Question Paper</a><br>
    {% if special_students_db %}
        <a href="{% url 'prof:view_groups' %}">Create/View student groups</a><br>
    {% endif %}
    <a href="{% url 'prof:view_exams' %}">View Exams</a>
</body>
</html>