<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make question paper</title>
</head>
<body>
    <form method="POST" action = "questionpaper/addquestion">
    {% csrf_token %}
        <input type="text" placeholder="Question Paper Title" name="qpaper"><br>
        {% comment %} <input type="submit"> {% endcomment %}
        <input type="submit">
    </form>
    <div>
        <ol>
            {% for pap in qpaper_db %}
                    <li>
                        paper title :- {{pap.qPaperTitle}}
                        <form method="POST" action="questionpaper/viewpaper">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{pap.qPaperTitle}}">
                            <input type="submit" value = "View" >
                        </form>
                        <form method="POST" action="questionpaper/editpaper">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{pap.qPaperTitle}}">
                            <input type="submit" value = "Edit" >
                        </form>
                    </li>
            {% endfor %}
        </ol>
    </div>
    <a href="{% url 'prof:index' %}">Go to default site</a>
</body>
</html>