<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/View Questions</title>
</head>
<body>
    <h2>Add Question</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Question" name="question"><br>
        <input type="text" placeholder="Option A" name="optiona"><br>
        <input type="text" placeholder="Option B" name="optionb"><br>
        <input type="text" placeholder="Option C" name="optionc"><br>
        <input type="text" placeholder="Option D" name="optiond"><br>
        <input type="text" placeholder="Answer (A,B,C,D)" name="answer"><br>
        <input type="submit">   
    </form>

    <a href="{% url 'prof:view_all_ques' %}">View All Questions</a><br>
    <a href="{% url 'prof:index' %}">Go to default site</a>
</body>
</html>