<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/View Questions</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Question" name="question"><br>
        <input type="text" placeholder="Option A" name="optiona"><br>
        <input type="text" placeholder="Option B" name="optionb"><br>
        <input type="text" placeholder="Option C" name="optionc"><br>
        <input type="text" placeholder="Option D" name="optiond"><br>
        <input type="text" placeholder="Answer (A,B,C,D)" name="answer"><br>
        <input type="submit">   
    </form>
        <ol>
        {% for ques in question_db %}
                <ul>Question: {{ ques.question }}
                    <li>A. {{ques.optionA}}</li>
                    <li>B. {{ques.optionB}}</li>
                    <li>C. {{ques.optionC}}</li>
                    <li>D. {{ques.optionD}}</li>
                </ul>
                <ul>Answer : {{ques.answer}} </ul>
                {% empty %}
                <h4>No questions in database</h4>
        {% endfor %}
    </ol>
    <a href="{% url 'prof:index' %}">Go to default site</a>
</body>
</html>