<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/View Questions</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Question" name="question">
        <input type="text" placeholder="Answer" name="answer">
        <input type="submit">   
    </form>
        <ol>
        {% for ques in question_db %}
                <li>Question: {{ ques.question }}, Answer: {{ ques.answer }}</li>
                {% empty %}
                <h4>No questions in database</h4>
        {% endfor %}
    </ol>
    <a href="{% url 'prof:index' %}">Go to default site</a>
</body>
</html>