<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Questions</title>
</head>
<body>
    <h3>All Questions:</h3><br>
    <ol>
        {% for ques in question_db %}
                <ul>Question No. {{ques.qno}} : {{ ques.question }} 
                <a href="{% url 'prof:edit_question' ques.qno %}">Edit</a>    
                    <li>A. {{ques.optionA}}</li>
                    <li>B. {{ques.optionB}}</li>
                    <li>C. {{ques.optionC}}</li>
                    <li>D. {{ques.optionD}}</li>
                </ul>
                <ul>Answer : {{ques.answer}} </ul>
                {% empty %} 
                <h4>No questions in database</h4>
        {% endfor %}
    </ol>
    <a href="{% url 'prof:add_question' %}">Add question</a><br>
    <a href="{% url 'prof:index' %}">Go to default site</a>
</body>
</html>