<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Exams</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Exams</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a href="{% url 'student:index'%}" class="btn btn-light mx-2">Home</a>
        </div>
    </nav>
    <div class="container-fluid my-2">
        <div id="completed_exams" class="alert alert-primary">
            <h3 align="center">Tests Completed</h3>
            <ol class="list-group">
                {% for i in paper %}
                {% if  i.completed == 1 %}
                <li class="list-group-item list-group-item-action my-1 text-center">{{ i.examname }}</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div id="upcoming_exams" class="my-6 alert alert-secondary">
            <h3 align="center" >UpComing Exams</h3>
            <ol class="list-group">
                {% for i in paper %}
                {% if  i.completed == 0 %}
                <li class="list-group-item list-group-item-action my-1 text-center">{{ i.examname }}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ i.examname }}" name="paper">
                        <input class="btn btn-info" type="submit" value="Attempt">
                    </form>
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
</body>

</html>